/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
background-color: rgba(69, 85, 85, 0.404);
}

 .button_to {
  display: inline-block;
  padding-left:10%;
  padding-right:10%;
  text-align: center;
}

.card {
  text-align: center;
  border-radius: 10px;
  margin: 5px;
  background-color: transparent;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(102, 97, 97),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  color: rgb(102, 97, 97);
}

.row {
  display: flex;
  justify-content: center;
}

.btn_prin {
  text-align: center;
}