  <div class='row'>
    <div class='col-lg-3 my-3'>
      <%= email.object %>
    </div>
    <div class='col-lg-6 my-3'>
      <%= link_to 'afficher le mail', email_path(email), data: {turbo_frame: "show_email"}  %>
    </div>
    <div class='col-lg-3'>
      <%= button_to "supprimer l'email", email_path(email), method: :delete %>
    </div>
  </div>