
<h3>C'est presque comme Gmail t'as vu !</h3>

<div class="btn_prin">
  <%= button_to "Recevoir un email", emails_path, data: { turbo_frame: "new_email" }, class:"btn btn-success" %>
</div>

</br>

<div class="row ">

    <div class="offset-md-1 col-md-5 card">
      <div class='row'>
        <div class='col-lg-2 my-3'>
          <strong>Titre du mail</strong>
        </div>
        <div class='col-lg-4 my-3'>
          <strong>Lien du mail</strong>
        </div>
        <div class='col-lg-2 my-3'>
          <strong>Etat du mail</strong> 
        </div>
      </div>
      <%= turbo_frame_tag "new_email" do %>
        <% @emails.sort.reverse_each do |email| %>
          <%= render 'email', email: email%>
        <% end %>
      <% end %>

    </div>

    <div class='col-md-5 card'>
    <%= turbo_frame_tag "show_email" do %>
    <% end %>
  </div>
</div>







